{% extends 'member.html' %}

{% block title %}
<h2>Jaggery Making</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/bcnys3oir0A" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h2>Fully Automated Jaggery Making</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/wBcyK1qEE9k" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h2>Boiler Free Jaggery Production Unit </h2>
<p>(Jaggery/Gur in form of Solid, Semi-Solid, Powder and Cake)for 100% bagasse saving and higher yield production.</p>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/8TPFxWzaBGo" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<hr>
<h1 style = "text-align: center">Jaggery(Gur) Suppliers</h1>

{% endblock %}

