{% extends 'conf_member.html' %}

{% block title %}
<h2 style = "text-align: center">Sweet Corn Cultivation</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/KQPiLTOtcww" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/xRmHOHGYyE8" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<hr>
<h1 style = "text-align: center">Makka(Maize) Suppliers</h1>
<p style = "text-align: center">**Connect by hitting the green connect button above and grow your customer base</p>
{% endblock %}



