{% extends 'member.html' %}

{% block title %}
<h1 style = "text-align: center">Health Benefits of Makhana</h1>
<ol>
<li>Inflammatory properties- Reduces cardiovascular risk,reduce inflammation & anti-bacterial properties help you stay healthy.</li>
<li>Slows down the aging process - Rich in anti-Oxidants, fights free radicals & help inhibit the aging signs like wrinkles, fine lines and premature graying of
hair.</li>
<li>Detoxifies spleen</li>
<li>Maintain blood pressure</li>
<li>Fights infertility</li>
<li>Rich in calcium</li>
<li>Helps people with arthritis</li>
</ol>

<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/EUCa_qh5s3Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/JAZJBDO542w" frameborder="0" allow="accelerometer; autoplay;
clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>


<hr>
<h1 style = "text-align: center">Makhana Suppliers</h1>
{% endblock %}

