{% extends 'member.html' %}
{% block title %}
<h1 style = "text-align: center">Scope of Food Processing Industries</h1>
<h2>Tomato Ketchup/Puree</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/nKab_q2Dac8" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<a href="http://ecoursesonline.iasri.res.in/mod/resource/view.php?id=147617" target="_blank">TOMATO PUREE, PASTE, SAUCE AND KETCHUP</a>

<h2>Mudhi/MurMura(Puffed Rice)</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/QHPQo-wBkEY" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h2>Green Chilli Sauce/Processing</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/p2WVXKh8iRw" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h2>Red Chilli Polishing</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/ul2PDWYY5BI" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h2>Daalmot & Namkeen Making Business</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/jbXk1AYFssk" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/0Be5ImVKSN0" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/xGVwNEs5CPE" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h2>Poha Manufacturing Business,How To Start Poha Mill Plant</h2>
<div><iframe "max-width:100%;height:auto;"  src="https://www.youtube.com/embed/NggU-g0g-04" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h2>How To Start Rice Flakes / Poha Manufacturing Business</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/pc_sICxjoOQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h2>Chuda factory in less investment</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/enUz04GmXDI" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h2>Kurkure, Chips, & puff making Business Advice जानिए Food sector के बारे में</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/wJi1nyLb3l0" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h2>Banana Chips Making business</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/d3eRnhmc73g" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/nmslS2RuRkM" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/lr-qk9xeIB0" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h2>Oil Mill Business</h2>
<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/9lr2fAO0XrE" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<div><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/2_4bjrduOTQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<hr>
<h1 style = "text-align: center">Food Processing Units</h1>
{% endblock %}