{% extends 'base.html' %}


{% block content %}
<div class ="center">
<br>
<h1 style="text-align: center;">Team</h1>
<section class="section2">
        <ul class="honeycomb">
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="/static/img/Ajit.jpeg">
                <div class="honeycomb-cell_title">Ajit Kumar</div>
                <a href="https://www.linkedin.com/in/ajit-kumar-21759411/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px;color:blue"></i></a>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="/static/img/sagar.jpeg">
                <div class="honeycomb-cell_title">Sagar Kumar</div>
                <a href="https://www.linkedin.com/in/sagar-kumar-80627144/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px;color:blue"></i></a>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="/static/img/RohitAnand.jpg">
                <div class="honeycomb-cell_title">Rohit Anand</div>
                <a href="https://www.linkedin.com/in/rohitanandiitkgp/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px;color:blue"></i></a>
            </li>
             <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="/static/img/Sachinji.jpeg">
                <div class="honeycomb-cell_title">Sachin Kumar</div>
                <a href="https://www.linkedin.com/in/sachin-kumar-30601811b/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px;color:blue"></i></a>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="/static/img/Alka.jpg">
                <div class="honeycomb-cell_title">Alka Singh</div>
                <a href="" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px;color:blue"></i></a>
            </li>
             <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="/static/img/prashantk.jpg">
                <div class="honeycomb-cell_title">Prashant Kumar</div>
                <a href="https://www.linkedin.com/in/pktherock/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px;color:blue"></i></a>
            </li>



            <li class="honeycomb-cell honeycomb_Hidden">
            </li>
        </ul>
</section>
</div>

{% endblock %}