{% extends 'base.html' %}


{% block content %}
<div class ="center">
<br>
<h1 style="text-align: center;">Team</h1>
<section class="section2">
        <ul class="honeycomb">
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="/static/img/Ajit.jpeg">
                <div class="honeycomb-cell_title">Ajit Kumar</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="/static/img/sagar.jpeg">
                <div class="honeycomb-cell_title">Sagar Kumar</div>
            </li>
             <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="/static/img/prashantk.jpg">
                <div class="honeycomb-cell_title">Prashant Kumar</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="/static/img/Alka.jpg">
                <div class="honeycomb-cell_title">Alka Singh</div>
            </li>

             <li class="honeycomb-cell">
                <img class="honeycomb-cell_img" src="/static/img/PrashantPrabh.jpeg">
                <div class="honeycomb-cell_title">Prashant Prabhat</div>
            </li>
            <li class="honeycomb-cell honeycomb_Hidden">
            </li>
        </ul>
</section>
</div>

{% endblock %}