
<!-- This loads of all of files that you call below from your 'static' folder -->
{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uddyami</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

</head>

<body>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div id="google_translate_element" class="center"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<div class="header">
    <h1>Uddyami</h1>
    <p>Connecting Businesses</p>
    <br>
    <a href="https://forms.gle/9FVoXfwKFtCwEZ3x9" target="_blank"><button class="btn btn-dark">Connect</button></a>
</div>

<ul class="topnav">
  <li><a class="active" href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'home' %}">Products</a></li>
  <li><a href="{% url 'services' %}">Services</a></li>
  <li><a href="#Contact">Contact</a></li>
  {% if not user.is_authenticated %}
    <li class="right"><a href="/accounts/login">Login</a></li>
    <li class="right"><a href="{% url 'sign-up' %}"> SignUp</a></li>
  {% endif %}
  {% if user.is_authenticated %}
    <li class="right"><a href="/accounts/logout">Log Out</a></li>
  {% endif %}
  <li class="right"><a href="{% url 'about' %}">About</a></li>

</ul>



<div>
{% block content %}

{% endblock %}
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="center" id="Contact">

    <h2 class="text-center">Contact Us</h2>
    <p class="text-center">Phone: +91-7011865024/8340574292</p>
    <a href="https://wa.me/918691908569 " target="_blank"><button style="font-size:20px ;margin-left:auto;margin-right:auto;display:block;" class="btn btn-dark">
        Contact on WhatsApp <i class="fa fa-whatsapp"></i></button></a>
    <p class="text-center">Email: uddyamienterprizes@gmail.com</p>
    <p class="text-center">Regd. Office: Lalapur(Bhader),Near Neelam Devi Foundation School, Kahalgaon, Bhagalpur, Bihar-813203</p>
    <!--<div class="form">-->
    <!--    <input class="text-input" type="name" name="name" id="name" placeholder="Enter Your name">-->
    <!--    <input class="text-input" type="phone" name="Phone" id="Phone" placeholder="Enter Your phone">-->
    <!--    <input class="text-input" type="email" name="email" id="name" placeholder="Enter Your email">-->
    <!--    <textarea class="text-input" name="text" id="text" cols="30" rows="10" placeholder="Message"></textarea>-->
    <!--    <button class="btn btn-dark">Submit</button>-->
    <!--</div>-->
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="footer">
    <p>&copyUddyami:All Rights Reserved</p>
</div>
<script src="{% static 'js/resp.js' %}"></script>

</body>
</html>
