{% extends 'base.html' %}

{% block content %}
<div class = "center">
   {% block title %}{% endblock %}
<hr>
<br>
    {% if members %}
    <ul>
        {% for mem in members %}
        <li>
            <p><b><u>{{ mem.name }}</u></b></p>
            {% if mem.enterprise_name %}
            <p><b>{{ mem.enterprise_name }}</b></p>
            {% endif %}
            {% if mem.figure %}
                <img class="img-responsive" style = "max-width:100%" src="{{ mem.figure.url }}" alt="{{ mem.name }}" />
            {% endif %}

            <p>Contact: {{ mem.mobile_number }}</p>
             {% if mem.whatsapp_number %}
            <a href="https://wa.me/91{{ mem.whatsapp_number }} " target="_blank"><button style="font-size:16px ;margin-left:auto;margin-right:auto;" class="btn btn-dark">
                Contact on WhatsApp  <i class="fa fa-whatsapp"></i></button></a>
             {% endif %}

             <p>Note: {{ mem.comments }}</p>
            <p><b>Address:</b> {{ mem.address }},{{ mem.district }},{{ mem.state }}-{{ mem.pin_code }}</p>
          </li>
          {% endfor %}
    </ul>
    {% else %}
    <p> No Records Found</p>
    {% endif %}

</div>
{% endblock %}