{% extends 'base.html' %}


{% block content %}

<section class="section2">
    <div class="section2box">
        <box class="flex-container">
            <box class="box boxbackground" style ="background-image:url('/static/img/jobs.jpg');">
                    <a href="{% url 'jobs' %}" style="color: white;" >Job Search</a>
                </box>
             <box class="box boxbackground" style ="background-image:url('/static/img/construction.jpg');">
                    <a href="{% url 'construction' %}" style="color: white;" > Construction / Civil</a>
                </box>

            <box class="box boxbackground" style ="background-image:url('/static/img/loan.jpg');">
                    <a href="{% url 'loan' %}" style="color: white;" >Loan</a>
                </box>
             <box class="box boxbackground" style ="background-image:url('/static/img/RentalVehicles.jpg');">
                    <a href="{% url 'rent_vehicle' %}" style="color: white;" >Vehicle on Rent</a>
                </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/tailor_stitch.jpg');">
                <a href="{% url 'tailor' %}" style="color: white;" >Tailoring</a>
            </box>
             <box class="box boxbackground" style ="background-image:url('/static/img/miscellaneous.jpg');">
                <a href="{% url 'miscellaneous' %}" style="color: white;" > Others </a>
            </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/consultant.jpg');">
                <a href="{% url 'consultant' %}" style="color: white;" >Consultants</a>
            </box>
    </div>
</section>

{% endblock %}