{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">Vegetables</h1>
<section class="section2">
    <div class="section2box">
        <box class="flex-container">
            <box class="box boxbackground" style ="background-image:url('/static/img/tomato.jpg');">
                 <a href="{% url 'tomato' %}" style="color: white;">Tomato</a>
            </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/brinjal.jpg');">
                 <a href="{% url 'brinjal' %}" style="color: white;">Brinjal</a>
            </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/mirchi.jpg');">
                 <a href="{% url 'mirchi' %}" style="color: white;">Mirchi</a>
            </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/cauliflower.jpg');">
                <a href="{% url 'cauliflower' %}" style="color: white;">Cauliflower</a>
            </box>
        </box>
    </div>
</section>
<h2 style="text-align: center;">Polyhouse Farming</h2>
<div class = "center"><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/djHKc795iSA" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<div class = "center"><iframe "max-width:100%;height:auto;" src="https://www.youtube.com/embed/tVoNt0u_pb8" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
{% endblock %}