{% extends 'base.html' %}


{% block content %}
<h1 style="text-align: center;">Food</h1>
<section class="section2">
    <div class="section2box">
        <box class="flex-container">
            <box class="box boxbackground" style ="background-image:url('/static/img/makhana.jpg');">
                <a href="{% url 'makhana' %}" style="color: white;">Makhana</a></box>
            <box class="box boxbackground" style ="background-image:url('/static/img/maize.jpg');">
                <a href="{% url 'maize' %}" style="color: white;">Maize</a>
            </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/gur.jpg');">
                <a href="{% url 'jaggery' %}" style="color: white;">Jaggery(Gur)</a>
            </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/pulses.jpg');">
                <a href="{% url 'pulses' %}" style="color: white;">Pulses</a>
            </box>
    </div>
</section>
{% endblock %}