{% extends 'base.html' %}


{% block content %}

<section class="section2">
    <div class="section2box">
        <box class="flex-container">
            <box class="box boxbackground" style ="background-image:url('/static/img/food.jpg');">
                <a href="{% url 'food' %}" style="color: white;" >Food</a>
            </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/foodprocessing.jpg');">
                <a href="{% url 'food_processing' %}" style="color: white;">Food Processing</a>
            </box>

            <box class="box boxbackground" style ="background-image:url('/static/img/fruits.jpg');">
                    <a href="{% url 'fruits' %}" style="color: white;" >Fruits</a>
            </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/vegetables.jpg');">
                    <a href="{% url 'vegetables' %}" style="color: white;" >Vegetables</a>
            </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/dairy.jpg');">
                    <a href="{% url 'dairy' %}" style="color: white;" >Dairy </a>
                </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/beverages.jpg');">
                    <a href="{% url 'beverage' %}" style="color: white;" >Beverage</a>
                </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/textile.jpg');">
                    <a href="{% url 'textile' %}" style="color: white;" >Textile</a>
                </box>

            <box class="box boxbackground" style ="background-image:url('/static/img/fisheries.jpg');">
                    <a href="{% url 'fisheries' %}" style="color: white;" >Fisheries</a>
                </box>

            <box class="box boxbackground" style ="background-image:url('/static/img/led.jpg');">
                    <a href="{% url 'led' %}" style="color: white;" >Led Bulbs</a>
                </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/jobs.jpg');">
                    <a href="{% url 'job_list' %}" style="color: white;" >Job Search</a>
                </box>
             <box class="box boxbackground" style ="background-image:url('/static/img/construction.jpg');">
                    <a href="{% url 'construction' %}" style="color: white;" > Construction / Civil</a>
                </box>

            <box class="box boxbackground" style ="background-image:url('/static/img/loan.jpg');">
                    <a href="{% url 'loan' %}" style="color: white;" >Loan</a>
                </box>
             <box class="box boxbackground" style ="background-image:url('/static/img/RentalVehicles.jpg');">
                    <a href="{% url 'rent_vehicle' %}" style="color: white;" >Vehicle on Rent</a>
                </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/tailor_stitch.jpg');">
                <a href="{% url 'tailor' %}" style="color: white;" >Tailoring</a>
            </box>
             <box class="box boxbackground" style ="background-image:url('/static/img/others.jpg');">
                <a href="{% url 'miscellaneous' %}" style="color: white;" > Others </a>
            </box>
            <box class="box boxbackground" style ="background-image:url('/static/img/consultant.jpg');">
                <a href="{% url 'consultant' %}" style="color: white;" >Consultants</a>
            </box>
             <box class="box boxbackground" style ="background-image:url('/static/img/farm_manage.jpg');">
                <a href="{% url 'farms' %}" style="color: white;" >Farm Management</a>
            </box>
        </box>
    </div>
</section>

{% endblock %}