{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block content %}
<h2 style="color:blue; text-align: center"><b>Banana</b></h2>
<div class="w3-container w3-center">
 <p><a href="https://www.krishisewa.com/disease-management/286-dbanana.html#:~:text=Foliar%20spray%20of%20Copper%20Oxychloride,water)%20control%20the%20disease%20effectively.&text=(Gloeosporium%20musae)%3A,distal%20ends%20of%20banana%20heads."
 target="_blank">Important Diseases, Insects & Pests of Banana & their Management</a></p>
</div>

<h2 style="color:blue; text-align: center"><b>Mango</b></h2>
<div class="w3-container w3-center">
 <p><a href="http://nhb.gov.in/pdf/fruits/mango/man002.pdf"
 target="_blank">Mango Diseases</a></p>
 <p><a href="https://plantvillage.psu.edu/topics/mango/infos"
 target="_blank">Mango: Common Pests and Diseases</a></p>

 <p><a href="https://www.krishisewa.com/articles/disease-management/731-mango-diseases.html"
 target="_blank">Major 9 Diseases of Mango and their Management</a></p>
</div>

<h2 style="color:blue; text-align: center"><b>Chilli(Mirchi)</b></h2>
<div class="w3-container w3-center">
 <p><a href="https://www.kisansuvidha.com/chilli-diseases/?v=ad4f1670f142"
 target="_blank">Chilli Diseases & their Control</a></p>
 <p><a href="https://www.bighaat.com/blogs/kb/management-of-chilli-virus-diseases"
 target="_blank">Management of Chilli Virus Diseases</a></p>
  <p><a href="https://www.agrifarming.in/chilli-pests-and-diseases-pepper-symptoms"
 target="_blank">Chilli Pests & Diseases(Symptoms) & their Control</a></p>
</div>

<h2 style="color:blue; text-align: center"><b>Tomato</b></h2>
<div class="w3-container w3-center">
 <p><a href="https://savvygardening.com/tomato-plant-disease/"
 target="_blank">How to identify and control tomato plant disease</a></p>
 <p><a href="https://www.kisansuvidha.com/tomato-diseases/?v=ad4f1670f142"
 target="_blank">Tomato Diseases & Control in India</a></p>
  <p><a href="http://vegetablemdonline.ppath.cornell.edu/DiagnosticKeys/TomWlt/TomWiltKey.html"
 target="_blank">Tomato  Disease  Identification  Key By Affected Plant Part: Stem and Whole Plant Symptoms</a></p>
</div>
 {% endblock %}
